body {
  font-family: 'tt_norms',Arial,Helvetica,sans-serif;   
  font-style: normal;    
  font-weight: 400;   
  font-size: 1em;   
  line-height: 1.5;
  background: #fff;    
  color: #1c1818;
  background-color: white;
  }
  a {
    color: inherit;
    text-decoration: inherit;
  } 
 
 
  /* .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    
}
.top-header {
    display: flex; 
    justify-content: left;
    background-color: #cf9a76;
} */
/* .logo {
   margin-top: 1em;
   height: 5.625em;
   transition: height 300ms;
} */
/* .logo.mini {
    height: 2em;
}
.logo img {
    height: 100%;
    width: auto;
}
.menu {
    display: flex; 
    justify-content: space-between;
    min-height: 8vh;
    background-color: rgb(250, 191, 191);
    
}

.menu > ul {
    display: inline-block;
    width: 200px;
    /* padding: 0 10px; */

.menu {
  display: flex;  
  justify-content: space-between;
  min-height: 12vh;
  background-color: white;
  
  
}

.menu > ul > li {
   display: inline-block;
}

.menu li > a {
    display: block;
    padding: 10px;
 }

 .menu li:hover > a {
    background-color: black;
    color: white;
 }

 .menu ul ul {
     display: none;
     position: absolute;
     top: 100%;
     left: 0;
 }

 .menu li:hover > ul {
     display: block;
 }

 .menu li {
     position: relative;
 }

 .hero-img {
    margin-bottom: 5em;
     
} 

.main-header {
  text-align: center;
  font-size: 2em;
  padding-top: 1.5em;
}

  
  .filters {
    background-color: white;
    padding: 1em;
    border: 1px solid #999;
    margin: 1em 0;
  }
  
  
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    grid-gap: 1em;
    margin: 1em;
  }
  
  /* .product-image {
    width: 19em;
    border-radius: .5em;
  }
   */
  
  .product {
    background-color: #fff;
    padding: .5em;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    /* margin: 1em 0; */
    border-radius: .5em;
    position: relative;
    text-align: center;   
  }

  .product-title {
    color: #cf9e76;
    padding-top: 1em;
  }

  .product-price {
    font-size: 1.2em;
    color: #585756; 
  }

  .product-color,.product-size {
    display: none;
  }

  .product-av {
    color: #959a8f;
  }
  .product-rate {
    color: #f6abab;
  }

  .button-primary {
    color: white;
    background-color: #cf9e76;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    padding: .3em;
    margin-top: .5em;
  }
  .product.soldout {
    box-shadow: none;
    background-color: #eee;
    color: #999;
  }
  
  .product-register {
    position: absolute;
    top: 1em;
    right: 1em;
  }
  
  
  /* .cat-design {
    border-left: 5px solid tomato;
  }
  .cat-development {
    border-left: 5px solid teal;
  } */
  
  .callout {
    display: inline-block;
    font-size: 0.5em;
    vertical-align: top;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    background-color: grey;
    color: white;
    text-shadow: 0.125em 0.125em 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 1em rgba(0,0,0,0.4);
  }
  .callout.urgent {
    background-color: crimson;
  }
  
  
  @media screen and (min-width: 40em) {
    .grid-view {
      grid-template-columns: 1fr 1fr;
    }
  
    .grid-view .product-info {
      display: none;
    }
  }